<html>
    <body>
        <h1>Please Login</h1>
        <br/>
        <input type="text" name="email"/>
        <input type="password" name="password"/>
        <input type="button" name="submit"/>
    </body>
</html>